layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane size="50%" {
        command "nvim"
        }
        pane split_direction="horizontal" size="50%" {
            deno {args "init";}
            deno {args "test";}
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }

    pane_template name="deno" {
        command "deno"
        start_suspended true
    }
}